body
{
 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%100%;
    backdrop-filter: blur(10px);
    color: white;
  
}


 